# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore Kotlin plugin data
.kotlin/
.vscode/

# Ignore data folder, that includes dadabase files
data/

app/.project
app/.classpath
app/.settings/
app/bin/

.project
.settings/

